/* main navigation */
.navbar1 {
  background-color: white;
  width: 100%;
  height: 50px;
  border-style: solid;
  border-color: #404040;
  border-width: 1px;
  margin-top: -20.8%;
}

.main-account {
  background-color: white;
  font-size: 20px;
  margin-left: 35%;
  margin-top: 1%;
}

.transfer-page {
  background-color: white;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 1%;
}

.settings-page {
  background-color: white;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 1%;
}

.report-page {
  background-color: white;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 1%;
}

.assistance-page {
  background-color: white;
  font-size: 20px;
  margin-left: 5%;
  margin-top: 1%;
}

.main-bg {
  background-color: #f6f6f6;
  width: 70%;
  height: 350px;
  margin-left: 25%;
  margin-top: 2%;
}

.heading {
  background-color: #f6f6f6;
  width: 60%;
  font-size: 25px;
  height: 30px;
  margin-left: 26%;
  margin-top: -25%;
}

.clients-name {
  margin-left: 27%;
  font-size: 20px;
}

.contact-form {
  margin-left: 27%;
}


.username-bg {
  margin-top: 1%
}

.password-bg {
  margin-top: 1%;
}

.first-name-bg {
  margin-top: 1%;
}

.middle-name-bg {
  margin-top: 1%;
}

.last-name-bg {
  margin-top: 1%;
}


/* aligning input data spaces */
.customerID-form-control {
  margin-top: -2%;
  margin-left: 12%;
}

.username-form-control {
  margin-top: -2%;
  margin-left: 12%;
}

.password-link {
  margin-left: 4%;
  width: 16%;
}
.firstName-form-control {
  margin-left: 3%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.middleName-form-control {
  margin-left: 1.3%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.lastName-form-control {
  margin-left: 3%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

/* submit btn */
.submit-section {
  margin-left: 35%;
  margin-top: 4%;
}