.main-bg {
  background-color: #f6f6f6;
  width: 70%;
  height: 350px;
  margin-left: 25%;
  margin-top: -10%;
}

.heading {
  background-color: #f6f6f6;
  width: 60%;
  font-size: 25px;
  height: 30px;
  margin-left: 26%;
  margin-top: -25%;
}

/* form */

.contact-form {
  margin-left: 26%;
}

.customerID-bg {
  margin-top: -1%;
}

.username-bg {
  margin-top: 1%;
}
.username {
  margin-top: -2%;
  margin-left: 11.5%;
}

.password-bg {
  margin-top: -1%;
  font-style: arial bold;
}

.first-name-bg {
  margin-top: .5%;
}

.middle-name-bg {
  margin-top: .5%;
}

.last-name-bg {
  margin-top: .5%;
}

.enable-disable-bg {
  margin-top: .5%;
}

/* client's address */
.street-num-bg {
  margin-top: -21.5%;
}
.street-num {
  margin-left: 29%;
}

.street-name-bg {
  margin-top: 1%
}
.street-name {
  margin-left: 29%;
}

.city-name-bg {
  margin-top: 1%;
}
.city-name {
  margin-left: 29%;
}

.state-name-bg {
  margin-top: 1%;
}
.state-name {
  margin-left: 29%;
}

.zipcode-bg {
  margin-top: 1%;
}
.zipcode {
  margin-left: 29%;
}

/*client's contact info */
.primary-num-bg {
  margin-top: -19%;
}
.primary-num {
  margin-left: 60%;
}

.secondary-num-bg {
  margin-top: 1%;
}
.secondary-num {
  margin-left: 60%;
}

.email-bg {
  margin-top: 1%
}
.email {
  margin-left: 60%;
}

/* aligning input data spaces */

.username-form-control {
  margin-left: 2.5%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.customerID-form-control {
  margin-left: 2%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.password-form-control {
  margin-left: 3.8%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.firstName-form-control {
  margin-left: 2.8%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.middleName-form-control {
  margin-left: 1%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.lastName-form-control {
  margin-left: 2.8%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.enable-disable-mode {
  margin-left: 1%;
  width: 15%;
  border-radius: 10px;
  height: 30px;
  padding: 3px;
}

.num-form-control {
  margin-left: 2%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.street-form-control {
  margin-left: 3%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.city-form-control {
  margin-left: 8%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}
.state-form-control {
  margin-left: 7.6%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.zipcode-form-control {
  margin-left: 4.8%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.primary-form-control {
  margin-left: 2.5%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.seconday-form-control{
  margin-left: .8%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}

.email-form-control {
  margin-left: 8.8%;
  width: 15%;
  border-radius: 10px;
  height: 20px;
  padding: 3px;
}


/* submit btn */
.submit-section {
  margin-left: 35%;
  margin-top: 11%;
}