.bg {
  background-color: #f6f6f6;
  width: 70%;
  height: 200px;
  margin-left: 25%;
  margin-top: 5%;
}

.password-reset-form {
  width: 80%;
  margin-left: 2%;
}

.current-password {
  margin-top: 2%;
}
.password-current {
  width: 20%;
  border-radius: 10px;
}

.new-password {
  margin-top: 2%;
}
.password-new {
  width: 20%;
  border-radius: 10px;
}

.confirm-new {
  margin-top: 2%;
}
.password-confirm {
  width: 20%;
  border-radius: 10px;
}

.password-btn {
  width: 21%;
  margin-top: 2%;
}